/* debug */
/* #body {
    background-color: #f8749e;
} */

#body-header {
    background-color: #e579e6;
}

#top-section {
    background-color: #e1d67a;
}

main {
    background-color: #0387f4;
}

main > * {
    background-color: #abcfe7;
}

footer {
    background-color: #8801fe;
}

/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* body */
#body-container {
    width: 1600px;
    margin: auto;
    padding: 25px 0;
}

#body-header {
    height: 200px;
    width: 100%;
}

#top-section {
    height: 650px;
    width: 100%;
    margin: 35px 0;  
}

/* main */
main {
    height: 900px;
    width: 100%;
    padding-bottom:30px;
}

/* main header */
#main-header {
    clear: both;
    height: 130px;
    width: 100%;
    margin-bottom:35px;
}

#left-column {
    float: left;
    height: 700px;
    width: 350px;
}

#middle-column {
    float: left;
    height: 700px;
    width: 830px;
    margin: 0 35px;
}

#right-column {
    float: left;
    height: 700px;
    width: 350px;
}

/* footer */
footer {
    height: 100px;
    width: 100%;
    margin-top: 15px;
}